# **Hypothesis Testing**

# **Q(1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.**

In [1]:
#import the libraries
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [6]:
Cutlets=pd.read_csv("/content/Cutlets.csv")

In [8]:
Cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [9]:
Cutlets.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [10]:
Cutlets.std()

Unit A    0.288408
Unit B    0.343401
dtype: float64

In [11]:
#sample_size
len(Cutlets)

35

In [12]:
t_val,p_val=stats.ttest_ind(a=Cutlets['Unit A'],b=Cutlets['Unit B'])

In [13]:
t_val,p_val

(0.7228688704678063, 0.4722394724599501)

In [14]:
stats.ttest_ind(a=Cutlets['Unit A'],b=Cutlets['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [15]:
if p_val<0.05: 
    print('There is a signficance difference between the Cutlets ')
else: 
    print('There is no difference between the Cutlets')

There is no difference between the Cutlets

# **Q(2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.**

In [16]:
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

In [17]:
LabTat=pd.read_csv("/content/LabTAT.csv")

In [18]:
LabTat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [19]:
LabTat.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [20]:
LabTat.std()

Laboratory 1    13.173594
Laboratory 2    14.957114
Laboratory 3    16.539033
Laboratory 4    15.085080
dtype: float64

In [21]:
len(LabTat)

120

In [23]:
stats.f_oneway(LabTat.iloc[:,0],LabTat.iloc[:,1],LabTat.iloc[:,2],LabTat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# **Q(3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.**

In [24]:
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

In [25]:
Sales=pd.read_csv("/content/BuyerRatio.csv")

In [26]:
Sales

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [27]:
Sales=[[50,142,131,70],[435,1523,1356,750]]
Sales

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [28]:
stat,p_val,dof,expected=stats.chi2_contingency(Sales)
p_val

0.6603094907091882

In [29]:
if p_val < 0.05:
    print('We are Rejecting Null Hypothesis')
else: 
    print('We are Accepting Null Hypothesis')

We are Accepting Null Hypothesis

# **Q(4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.**

In [30]:
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

In [31]:
Data=pd.read_csv("/content/Costomer+OrderForm.csv")
Data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [32]:
Data['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [33]:
Data['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [34]:
Data['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [35]:
Data['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [36]:
pd.DataFrame({'countary':['Phillippines','Indonesia','Malta','India'],'Error Free':[271,267,269,280],'Defective':[29,33,31,20]})

       countary  Error Free  Defective
0  Phillippines         271         29
1     Indonesia         267         33
2         Malta         269         31
3         India         280         20

In [37]:
Data1 = [[271,29],[267,33],[269,31],[280,20]]
Data1

[[271, 29], [267, 33], [269, 31], [280, 20]]

In [38]:
stat,p_val,dof,expected=stats.chi2_contingency(Data1)
p_val

0.2771020991233144

In [39]:
if p_val < 0.05:
    print('The defective between percentage varies by center')
else:
    print('The defective between percentage not varies by center')

The defective between percentage not varies by center